<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tadco Mart-features</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
  <link rel="stylesheet" href="../static/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header>
    <nav>
      <div id="log_container" style="display: flex; align-items: center; gap: 10px;">
        <div id="logoPic"></div>
        <div class="logo">Tadco Mart</div>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login" class="sign-in">Sign In</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero" >
    <div class="hero-content" style="margin-top:5px; padding: 0px; height: 100vh;">
      <h1 style="font-size: 30px; line-height: 0.5;animation: fadeInUp 1s ease 0.5s forwards;"><span style="font-size: 140px;animation: fadeInUp 1s ease 0.5s forwards;">.</span>Real-time stock level display</h1>
      <h1 style="font-size: 30px;line-height: 0.9;animation: fadeInUp 3s ease 0.5s forwards;"><span style="font-size: 140px;animation: fadeInUp 2s ease 0.5s forwards;">.</span>AI Prediction for future <span style="color: white;margin-left: 45px;">Inventory Stock</span></h1>
      <h1 style="font-size: 30px;line-height: 0.9;animation: fadeInUp 5s ease 0.5s forwards;"><span style="font-size: 140px;animation: fadeInUp 3s ease 0.5s forwards;">.</span>Auto-generate combo offers <span style="color: white;margin-left: 45px;">with products</span></h1>
      <h1 style="font-size: 30px;line-height: 0.9;animation: fadeInUp 7s ease 0.5s forwards;"><span style="font-size: 140px;animation: fadeInUp 4s ease 0.5s forwards;">.</span>Low Stock alerts</h1>
      <h1 style="font-size: 30px;line-height: 0.9;animation: fadeInUp 9s ease 0.5s forwards;"><span style="font-size: 140px;animation: fadeInUp 5s ease 0.5s forwards;">.</span>User-friendly dashboard</h1>


    </div>
  </section>

</body>

</html>