<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tadco Mart-HOME</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

  <link rel="stylesheet" href="../static/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header>

    <nav>
      <div id="log_container" style="display: flex; align-items: center; gap: 10px;">
        <div id="logoPic"></div>
        <div class="logo">Tadco Mart</div>
      </div>

      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login" class="sign-in">Sign In</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Take Control of <span>YOUR</span><br />INVENTORY</h1>
      <p>
        Welcome to InventoryPro. The ultimate inventory management system
        designed to streamline your operations.
      </p>
      <button class="cta-button" id="getstartbtn" type="submit">Get Started</button>
    </div>
  </section>

  <script src="../static/script.js"></script>
</body>


</html>